In [1]:
#importe de librerias
import numpy as np
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import cosine_similarity
import gzip
import json

In [39]:
df = pd.read_json('../datasets/datos.json')

In [ ]:
df

In [41]:
df2= df[['release_date','price','developer','id']]

In [42]:
df2.loc[:,'price']=pd.to_numeric(df2['price'], errors='coerce')

In [43]:
df2.loc[:,'price']=df2['price'].fillna(0)

In [44]:
df2.loc[:,'developer'] = df2['developer'].str.lower()

In [45]:
df3=df2.copy()
df3['release_date'] = pd.to_datetime(df2['release_date'],errors='coerce')

In [46]:
df3

      release_date price                 developer      id
0       2018-01-04  4.99                 kotoshiro  761140
1       2018-01-04   0.0          secret level srl  643980
2       2017-07-24   0.0              poolians.com  670290
3       2017-12-07  0.99                      彼岸领域  767400
4       2018-01-04  3.99       trickjump games ltd  772540
...            ...   ...                       ...     ...
28537   2018-01-04  1.99           bidoniera games  745400
28538   2018-01-04  1.99        nikita "ghost_rus"  773640
28539   2018-01-04  4.99                    sacada  733530
28540   2018-01-04  1.99  laush dmitriy sergeevich  610660
28541   2017-09-02  4.99             xropi,stev3ns  658870

[28542 rows x 4 columns]

In [47]:



def developer(desarrollador):
     # Filtro el DataFrame por el desarrollador especificado
    df_desarrollador = df2[df2['developer'] == desarrollador].copy()
    #me aseguro que la columna este en fomato fecha
    df_desarrollador['release_date'] = pd.to_datetime(df_desarrollador['release_date'], errors='coerce') 
    df_desarrollador.loc[:,'año'] = df_desarrollador['release_date'].dt.year
    
    # Agruparpo por año
    agrupado = df_desarrollador.groupby('año')
    
    # Calculo la cantidad de ítems por año
    Cantidad_Items = agrupado.size()
    
    # Calculo la cantidad de ítems free por año
    cantidad_free = agrupado.apply(lambda x: (x['price'] == 0.00).sum())
    
    # Calcular el porcentaje de ítems con precio cero por año
    cantidad_free_porsentaje = (cantidad_free / Cantidad_Items) * 100
    
    # Crear un DataFrame con los resultados
    resultado = pd.DataFrame({'Cantidad de Items': Cantidad_Items,'Contenido Free': cantidad_free_porsentaje}).reset_index()

    resultado['Contenido Free'] = resultado['Contenido Free'].apply(lambda x: f'{x:.2f}%')
    #results = results.reset_index(drop=True)
    resultado_final=resultado.to_dict(orient='index')
    return resultado_final


nombre_desarrollador = 'poppermost productions'
stats_for_developer = developer(nombre_desarrollador)
stats_for_developer

    año  Cantidad de Items Contenido Free
0  2013                  1        100.00%
1  2018                  5          0.00%